*.user
/build
*/build/*
*bin/*
*.vs
/Results/CroppedImages/*

*.aux
*.bbl
*.blg
*.log
*.lbl
*.synctex.gz
*.synctex.gz(busy)
*.synctex(busy)
*.brf
*.cut
*.out
*.lof
*.loa
*.lot
*.toc
*.fls
*.fdb_latexmk
*GENERATED_*
